body {
    margin: 0;
    padding: 0;
    background-color: #0e1211;
    background-size: cover;
    object-fit: cover;
    color: #fff;
    display: flex;
    align-items: center;
  }
  
  main {
    margin: 2em;
  }
  
  #input-section p {
   color: #30833b;
   font-size: 1.5em;
  }
  
  #text-input {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    height: 2em;
    font-size: 1em;
    color: #ffffff;
  }
  
  button {
    border: none;
    border-radius: 10px;
    background-color: orangered;
    color: inherit;
    font-weight: bold;
    height: 1.5em;
    font-size: 1.2em;
  }
  
  #result {
    margin-top: 1.4em;
    background-color: #30833b;
    color:#ffffff;
    opacity: 0.8;
    font-size: 1.2em;
    font-weight: bold;
    height: 2em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.6em;
  }
  
  .hidden_results {
    visibility: hidden;
  }